@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

body {
  font-family: "Cinzel";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* adapted from https://css-tricks.com/the-fixed-background-attachment-hack/  */
.bg {
  background: url('../public/images/annie-spratt-pKpipZVVEC0-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.content{
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  width: 80%;
}
/* end adapted from https://css-tricks.com/the-fixed-background-attachment-hack/  */


.card {
  background-color: rgb(228, 235, 236);

}

.card-img-top {
  height: 35vh;
  object-fit: cover;
}

.project-button {
  background-color: rgb(59,109,195);
}

.contact-link {
  width: 100%;
  height: 20vh;
  object-fit: scale-down;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.my-nav {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background: radial-gradient(circle, rgba(168,230,235,1) 3%, rgba(113,168,167,1) 57%, rgba(59,109,195,1) 99%);
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
