@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");


body {
  font-family: "Cinzel";
  background: linear-gradient(
    70deg,
    hsl(217deg 19% 27%) 0%,
    hsl(221deg 32% 35%) 12%,
    hsl(220deg 42% 43%) 21%,
    hsl(218deg 54% 50%) 29%,
    hsl(222deg 49% 62%) 36%,
    hsl(223deg 45% 71%) 42%,
    hsl(221deg 39% 80%) 48%,
    hsl(223deg 45% 71%) 53%,
    hsl(222deg 49% 62%) 60%,
    hsl(218deg 54% 50%) 66%,
    hsl(220deg 42% 43%) 74%,
    hsl(221deg 32% 35%) 84%,
    hsl(217deg 19% 27%) 100%
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100%;
}
/* keyframes to animate the gradient background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card {
  background-color: rgb(228, 235, 236);

}

.card-img-top {
  height: 35vh;
  object-fit: cover;
}

.my-button {
  background-color: rgb(59,109,195);
}
.my-button:hover {
  background-color: rgb(113,168,167);
  background: radial-gradient(circle, rgba(168,230,235,1) 3%, rgba(113,168,167,1) 57%, rgba(59,109,195,1) 99%);
}

.contact-link {
  width: 100%;
  height: 20vh;
  object-fit: scale-down;
}

.light-title{
  color: #dee2e6;
  text-decoration: none ;
}

.small-project-title{
  color: #212529;
  text-decoration: none;
}
.small-project-title:hover{
  color: #212529;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.my-nav {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background: radial-gradient(circle, rgba(168,230,235,1) 3%, rgba(113,168,167,1) 57%, rgba(59,109,195,1) 99%);
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
